/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

*{
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #0D0D0D;
  font-family: 'Furore';
  margin: 0;
}

@font-face {
  font-family: 'Furore';
  src: url('../assets/fonts/Furore.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.row{
  width: 100%;
}

header {
  max-width: 1432px;
  padding: 20px 20px 10px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.lang {
  display: flex;
}

#lang_active{
  background-color: #C92020;
  color: white;
background-image: url(../img/lang_border_active.png);
}

.lang li {
  font-family: 'Furore', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 48px;
  height: 48px;
  background-image: url(../img/lang_border.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 13px;
  background-color: transparent;

  clip-path: polygon(8px 0,
      calc(100% - 8px) 0,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 8px) 100%,
      8px 100%,
      0 calc(100% - 8px),
      0 8px);
}

.lang li:hover {
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.lang li:not(:hover) {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.25s;
}

.card {
  background: #111;
  padding: 24px;
  border: 2px solid #444;
  clip-path: polygon(12px 0,
      /* верхній лівий скіс */
      calc(100% - 12px) 0,
      /* верхній правий скіс */
      100% 12px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      12px 100%,
      0 calc(100% - 12px),
      0 12px);
}

.button_sendApp{
  padding: 14px 24px;
  border-radius: 16px;
  background-color: white;
  font-family: 'Furore';
  transition: 0.25s;
  border: 1px solid white;

}

.button_sendApp:hover{
  border: 1px dashed white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

/* hero */
.mainSec{
  padding: 0px 20px;
}
.hero{
  padding: 0px 20px;
}
.hero_nav_active {
  height: 100% !important;
  top: 0px !important;
}
.hero_nav{
  position: absolute;
  top: -64px;
  left: 0px;
  width: 100%;
  height: 0%;
  z-index: 1;
  background-color: #00000093;
  backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: 0.6s;
    overflow: hidden;
    box-sizing: border-box;
  padding: 32px;
  display: flex;
  justify-content: flex-start;
}
.button_menu_close{
  width: 32px;
  height: 32px;
  transition: 0.25s;
}
.menu_social{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.manu_navLink{
  padding: 50px 10%;
}
.navList{
  font-size: 60px;
  color: white;
}
.navList li{
  padding: 5px 0px;
  font-weight: 900;
  opacity: 0.6;
  transition: 0.25s;
}
.navList li:hover{
  opacity: 1;
  cursor: pointer;
}
.hero_nav_menu:hover > .button_menu_close{
  transform: scale(1.1);
}
.hero_nav_menu:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.hero{
  z-index: 0;
  transition: 0.8s;
  position: relative;
  max-width: 1392px;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0.3),
      /* низ — чорний на 80% */
      rgba(0, 0, 0, 0.1)
      /* верх — чорний на 20% */
      /* previewBig.gif */
      /* preview.gif */
      /* preview2.gif */
    ),url("../img/mainBG.jpg");
  background-color: rgba(0, 0, 0, 0.0);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px;
  overflow: hidden;

  clip-path: polygon(25px 0,
      calc(100% - 25px) 0,
      100% 25px,
      100% calc(100% - 25px),
      calc(100% - 25px) 100%,
      25px 100%,
      0 calc(100% - 25px),
      0 25px);
}

.hero_menu,
.hero_play{
  z-index: 1;
  min-width: 148px;
  width: 148px;
  height: 148px;
position: relative;
  /* сам блок без blur, можна фон, бордери, контент і т.д. */
  z-index: 0;
  overflow: hidden;
  transition: 0.25s;
      display: flex;
      align-items: center;
      justify-content: center;
}

.hero_nav_menu {
  z-index: 1;
  min-width: 148px;
  width: 148px;
  height: 148px;
  position: relative;
  /* сам блок без blur, можна фон, бордери, контент і т.д. */
  z-index: 0;
  cursor: pointer;
  transition: 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;

  clip-path: polygon(15px 0,
        133px 0,
        148px 15px,
        148px 133px,
        133px 148px,
        15px 148px,
        0 133px,
        0 15px);
}

.hero_play::before,
.hero_menu::before {
  content: "";
  position: absolute;
  inset: 0;

  /* твій полігон з кутами по 15px, наприклад */
  clip-path: polygon(15px 0,
      133px 0,
      148px 15px,
      148px 133px,
      133px 148px,
      15px 148px,
      0 133px,
      0 15px);

      backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        background: rgba(225, 225, 225, 0.05);
        /* легке затемнення, за бажанням */
        z-index: -1;
        /* щоб контент був над цим шаром */
}

.hero_play:hover,
.hero_menu:hover{
  background: rgba(225, 225, 225, 0.07);
  cursor: pointer;
}
.hero_play:hover > .button_play,
.hero_menu:hover > .button_menu {
  transform: scale(1.05);
}
.hero_play:hover > .button_play,
.hero_menu:hover > .button_menu{
  opacity: 1;
}

.newsMain_blog_item_play:hover>.button_play {
  opacity: 1;
}
.newsMain_blog_item_play:hover>.button_play {
  transform: scale(1.05);
}


.button_menu,
.button_play {
  opacity: 0.6;
  transition: 0.25s;
}

.stick_owerlay{
  width: 148px;
  display: flex;
  justify-content: center;
}
.stick{
  width: 1px;
  height: 25vh;
  background-color: rgba(255, 255, 255, 0.5);
}
.border_topleft{
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-90deg);
}
.border_topright {
  position: absolute;
  top: 0px;
  right: 0px;
}
.border_bottomleft {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: rotate(-180deg);
}
.border_bottomright {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: rotate(90deg);
}
.zI{
  z-index: -2;
}


.text_stroke{
  font-family: 'Furore';
    color: transparent !important;
    -webkit-text-stroke: 1px #ffffff;
}
.horizontal_stroke{
  width: 100%;
  height: 1px;
  background-color: white;
}

.khorne-line {
  overflow: hidden;
  white-space: nowrap;
  background-color: #0D0D0D;
  /* твій фон знизу */
}

.khorne-line__inner {
  display: inline-block;
  animation: khorne-scroll 40s linear infinite;
}

.khorne-line__inner span {
  font-family: 'Furore', sans-serif;
  font-size: 120px;
  /* піджени під свій дизайн */
  color: #ffffff;
  /* як на макеті */
  text-transform: uppercase;
  margin-right: 10px;
  /* відступ між словами */
}

/* Анімація безкінечного руху вліво */
@keyframes khorne-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
    /* якщо рядок довгий, буде loop */
  }
}
.hero_social{
  min-width: fit-content;
  width: 100%;
  opacity: 0.9;
  transition: 0.25s;
}
.hero_social:hover{
  cursor: pointer;
  opacity: 1;
}

.hero_social_overlay{
  font-size: 24px;
  color: white;
  display: flex;
  font-family: 'Furore';
  padding: 20px 35px;
  align-items: center;
  justify-content: center;
}
.hero_social_overlay img{
  width: 30px;
  margin-right: 12px;
}

.hero_social{
  position: relative;
}

.flex_between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  max-width: 1432px;
  padding: 0px 20px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Furore';

}
.wrapper_bottomHiro{
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid #FAE9E9;
  margin-top: 20px;
  margin-bottom: 72px;
}

/* About us */
.about_usSec{
  padding: 0px 20px;
}
.about_us{
  transition: 0.8s;
  position: relative;
  max-width: 1392px;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;

  clip-path: polygon(25px 0,
    calc(100% - 25px) 0,
    100% 25px,
    100% calc(100% - 25px),
    calc(100% - 25px) 100%,
    25px 100%,
    0 calc(100% - 25px),
    0 25px);
  background-color: #131313;
}


.aboutRow{
  display: flex;
  justify-content: space-between;
}

.about_us_add{
  display: flex;
  font-size: 24px;
  color: #C92020;
  font-family: 'Furore';
  align-items: center;
}

.about_us_add_left{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.about_us_add_right {
  width: 20px;
    height: 20px;
  margin-left: 10px;
}
.about_us_add p{
  white-space: nowrap;
}


.donate{
  max-width: 1432px;
  padding: 0px 20px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.about_us{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate_left_cT_item{
  position: relative;
}
.about_mainLogo_circle{
  width: 100%;
  background-image: url("../img/circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.about_mainLogo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_mainLogo_h2{
  font-weight: 100;
  font-size: 3.7vw;
  color: white;
  margin-bottom: -80px;
}
.about_mainLogo{
  margin: 30px 0px;
}
.about_mainLogo_p{
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    color: white;
    max-width: 700px;
    text-align: center;
    margin-top: -60px;
}
.about_mainLogo_circle_Logo{
    width: 15vw;
    max-width: 200px;
}
.iconsRow{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px 0px 60px 0px;
  width: 80%;
}
.donate_left_chooseType{
  display: flex;
  justify-content: space-between;
}
.donate_left_cT_item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
  width: 18%;
  opacity: 0.5;
  transition: 0.25s;
  position: relative
}
.donate_left_cT_item:hover{
  opacity: 1;
  cursor: pointer;
}
.donate_left_cT_item_icon{
  width: 80px;
}
.donate_left{
  width: 50%;
}
.donate_left_cT_item p{
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

    font-size: 12px;
    color: white;
    margin-top: 5px;
}
.donateActive{
  font-weight: 700;
  opacity: 1;
}
.donate_left_bottomInfo_text{
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: white;
}
.donate_left_bottomInfo_text{
  margin-top: 30%;
}
.donate_left_bottomInfo_text_mainP{
  font-weight: 700;
}
.donate_left_bottomInfo_textContainer{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 35px;
}
.donate_left_bottomInfo_text_description{
  font-size: 14px;
  opacity: .6;
  line-height: 1.2;
  margin-top: 5px;
}
.donate_left_bottomInfo_textContainer_button button{
  padding: 15px 36px;
    border-radius: 16px;
    background-color: white;
    font-family: "Furore";
    white-space: nowrap;
    border: none;
    transition: 0.25s;
    border: 1px solid white;
}
.donate_left_bottomInfo_textContainer_button button:hover {
  border: 1px dashed white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.donate_left_bottomInfo_redLine{
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: flex-start;
}
.redLine{
  width: 33%;
  background-color: red;
  height: 3px;
}
.donate_left_bottomInfo_lC_item{
  padding: 20px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.donate_left_bottomInfo_lC_item p{
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  line-height: 1;
}
.donate_left_bottomInfo_lC_item span{
  font-family: "Furore";
  font-size: 30px !important;
  margin-right: 10px;
  line-height: 1;
  margin-top: -5px;
}
.donate_right{
  width: 50%;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.donate_right_img{
  width: 100%;
}
.donate_right_img{
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 350px;
  border-radius: 20px;
  margin-bottom: 25px;
}
.donate_right_item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 25px;
  position: relative;
  background-color: #131313;
  width: 100%;
  height: 240px;

  clip-path: polygon(25px 0,
  calc(100% - 25px) 0,
  100% 25px,
  100% calc(100% - 25px),
  calc(100% - 25px) 100%,
  25px 100%,
  0 calc(100% - 25px),
  0 25px);
}
.donate_right_item_topInfo{
  display: flex;
  justify-content: space-between;
}
.donate_right_item_topInfo_text_main{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}
.donate_right_item_topInfo_text_price{
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
}
.donate_right_item_topInfo_text_price span{
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.donate_right_item_describe{
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
}
.donate_right_item_row{
  width: 100%;
  height: 24px;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px dashed rgba(255, 255, 255, 0.2);
}
.donate_right_item_row_redLine{
  width: 66%;
  height: 100%;
  background-color: #B10F0A;
  border-radius: 20px;
}

.bgColorWhite{
  background-color: white;
  padding-bottom: 20px;

}
.bgColorWhite span{
  color: black;
  -webkit-text-stroke: 1px #000000;
}

.news{
  background-color: #C92020;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.news_wrapper{
  margin: 0;
  border: none;
}
.newsMain{
  max-width: 1392px;
  width: 100%;
  margin: 70px auto;
  display: flex;
  gap: 24px;
  padding: 0px 20px;
}
.newsMain_blog{
  display: flex;
  width: 100%;
  gap: 20px;
}
.newsMain_blog_item{
  width: 30%;
  height: 470px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.nbi_bg1{
  background-image: url('../img/nbi_bg1.png');
}
.nbi_bg2 {
  background-image: url('../img/nbi_bg2.png');
}
.nbi_bg3 {
  background-image: url('../img/nbi_bg3.png');
}
.newsMain_blog_item_ico{
  width: 25px;
}
.newsMain_blog_item_play{
  z-index: 1;
    min-width: 110px;
    width: 110px;
    height: 110px;
    position: relative;
    /* сам блок без blur, можна фон, бордери, контент і т.д. */
    z-index: 0;
    overflow: hidden;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsMain_blog_item_play::before {
  content: "";
  position: absolute;
  inset: 0;

  /* твій полігон з кутами по 15px, наприклад */
  clip-path: polygon(15px 0,
      133px 0,
      148px 15px,
      148px 133px,
      133px 148px,
      15px 148px,
      0 133px,
      0 15px);

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  background: rgba(225, 225, 225, 0.05);
  /* легке затемнення, за бажанням */
  z-index: -1;
  /* щоб контент був над цим шаром */
}
.newsMain_blog_item p{
  color: white;
  font-family: "Montserrat", sans-serif;
}
.newsMain_social{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.newsMain_q{
  width: 25%;
}
.newsMain_q_threeSoc{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.newsButton{
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 16px;
  text-align: center;
  transition: 0.25s;
  border: 1px solid white;
}
.newsButton:hover {
  border: 1px dashed white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

/* Vacancies */

.vacancies{
  max-width: 1432px;
  padding: 0px 20px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 600px;
}
.vacancies_item{
  width: 33.33%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;

  clip-path: polygon(25px 0,
        calc(100% - 25px) 0,
        100% 25px,
        100% calc(100% - 25px),
        calc(100% - 25px) 100%,
        25px 100%,
        0 calc(100% - 25px),
        0 25px);

  cursor: pointer;

}
.vacancies_item_ico{
  width: 40%;
}
.vacancies_item p{
  color: white;
  text-align: center;
  font-size: 36px;
}

.vi1{
  background-image: url(../img/vi1.png);
}
.vi2 {
  background-image: url(../img/vi2.png);
}
.vi3 {
  background-image: url(../img/vi3.png);
}


.faq{
  max-width: 1432px;
  padding: 0px 20px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.faq_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 0px;
}
.faq_item h2{
  width: 60%;
  font-size: 36px;
}
.faq_item p {
  width: 35%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  opacity: 0.7;
  margin: 0px 20px;
}



.lead{
  background-color: #C92020;
  padding: 20px 0px;
}
.lead_wrapper{
  max-width: 1392px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

footer{
  max-width: 1432px;
  padding: 16px 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p{
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: #7B7B7B;
}
.cosialFooter{
  display: flex;
}
.cosialFooter_item{
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  opacity: 0.7;
  transition: 0.25s;
}
.cosialFooter_item:hover{
  opacity: 1;
}
.cosialFooter_item_ico{
  width: 24px;
}
.iconsRow_ico {
  width: 180px;
}
.hero_playMOBILE{
  display: none;
}

@media (max-width: 768px) {
  .hero_social_overlay p {
    display: none;
  }
  .hero_social_overlay img{
    margin: 0;
  }
  .iconsRow_ico{
    width: 110px;
  }
  .about_us_add{
    font-size: 18px;
  }
  .about_us_add_left,
    .about_us_add_right{
    width: 15px;
    height: 15px;
  }
  .donate{
    flex-direction: column;
    padding: 0px 20px;
  }
  .donate_left{
    width: 100%;
    margin-bottom: 20px;
  }
  .donate_right{
    width: 100%;
    padding-left: 0px;
  }
  .donate_left_bottomInfo_text{
      margin-top: 50px;
    }
  .hero_menu,
  .hero_play{
    width: 120px;
    min-width: 120px;
    height: 120px;
    }
  .stick_owerlay{
    width: 120px;
    }
  .hero_nav_menu{
    width: 120px;
    min-width: 120px;
    height: 120px;
  }
  .manu_navLink{
    padding: 35px 10%;
  }
  .stick{
    height: 20vh;
  }
  .button_menu{
    width: 40px;
  }
  .button_play{
    width: 40px;
  }
  .hero_social_overlay img{
    width: 35px;
  }
  .newsMain{
    flex-direction: column;
  }
  .newsMain_blog_item{
    width: 33.33%;
    height: 350px;
  }
  .newsMain_social{
    width: 100%;
  }
  .newsMain_q_threeSoc{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  .faq_item h2{
    font-size: 24px;
  }
  .faq_item p{
    font-size: 14px;
  }
  .vacancies{
   height: 350px;
  }
  .vacancies_item_ico{
   width: 50%;
  }
  .vacancies_item p{
   font-size: 24px;
  }
  .vacancies_item{
   padding: 30px;
  }
  .about_mainLogo_circle_Logo{
    width: 20vw;
  }
    .about_mainLogo_h2{
      font-size: 6vw;
    }
}

@media (max-width: 510px) {
  .lang{
    display: none;
  }
  .hero_play{
    display: none;
  }
  .hero_social_overlay{
    padding: 20px;
  }
  .horizontal_stroke{
    display: none;
  }
  .hero_social{
    width: fit-content;
  }
  .flex_between{
    gap: 20px;
  }
  .flex_between{
    justify-content: space-between;
  }
  .stick_owerlay{
    display: none;
  }
  .hero{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  .hero_menu{
    transform: scale(0.8);
  }
  .khorne-line__inner span{
    font-size: 80px;
  }
  .wrapper_bottomHiro{
    font-size: 18px;
  }
  .wrapper_bottomHiro img{
    width: 18px;
  }
  .wrapper_bottomHiro{
    align-items: center;
  }
  .hero_playMOBILE {
    z-index: 1;
    min-width: 120px;
    width: 120px;
    height: 120px;
    position: relative;
    /* сам блок без blur, можна фон, бордери, контент і т.д. */
    z-index: 0;
    overflow: hidden;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
  }
  .hero_playMOBILE::before {
    content: "";
    position: absolute;
    inset: 0;

    /* твій полігон з кутами по 15px, наприклад */
    clip-path: polygon(15px 0,
        133px 0,
        148px 15px,
        148px 133px,
        133px 148px,
        15px 148px,
        0 133px,
        0 15px);

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    background: rgba(225, 225, 225, 0.05);
    /* легке затемнення, за бажанням */
    z-index: -1;
    /* щоб контент був над цим шаром */
  }
  .descMobPlay{
    display: flex;
    justify-content: space-between;
  }
  .about_us{
    padding: 25px;
  }
  .about_us_add{
    font-size: 12px;
  }
  .about_mainLogo_h2{
    font-size: 8vw;
  }
  .iconsRow{
    width: 90%;
    margin: 20px 0px 40px 0px;
  }
  .iconsRow_ico{
    width: 60px;
  }
  .about_mainLogo_p{
    font-size: 14px;
  }
  .iconsRow img:nth-child(2n){
    transform: scale(0.7);
  }
  .khorne-line{
   margin-top: 10px;
  }
  .donate_left_cT_item_icon{
   width: 60px;
  }
  .donate_left_cT_item{
   min-width: fit-content;
   padding: 20px;
  }
  .donate_left_chooseType{
    flex-wrap: nowrap;
      justify-content: flex-start;
      gap: 20px;
      overflow-x: scroll;
      padding-bottom: 15px;
  }
  .donate_left_bottomInfo_text{
    margin-top: 20px;
  }
  .donate_left_bottomInfo_textContainer{
    flex-direction: column;
  }
  .donate_left_bottomInfo_textContainer_button{
    width: 100%;
    margin-top: 20px;
  }
  .donate_left_bottomInfo_textContainer_button button{
    width: 100%;
  }
}