/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #0D0D0D;
}

header {
  max-width: 1392px;
  padding: 10px 0px;
}

.lang {
  display: flex;
}

.lang li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 48px;
  height: 48px;
  background-image: url(../img/lang_border.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin-right: 13px;
  background-color: transparent;

  clip-path: polygon(8px 0,
      calc(100% - 8px) 0,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 8px) 100%,
      8px 100%,
      0 calc(100% - 8px),
      0 8px);
}

.lang li:hover {
  background-color: #C92020;
  cursor: pointer;
  transition: 0.25s;
}

.lang li:not(:hover) {
  background-color: #c9202000;
  transition: 0.25s;
}

.card {
  background: #111;
  padding: 24px;
  border: 2px solid #444;
  clip-path: polygon(12px 0,
      /* верхній лівий скіс */
      calc(100% - 12px) 0,
      /* верхній правий скіс */
      100% 12px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      12px 100%,
      0 calc(100% - 12px),
      0 12px);
}