/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

*{
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #0D0D0D;
}

@font-face {
  font-family: 'Furore';
  src: url('../assets/fonts/Furore.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.row{
  width: 100%;
}

header {
  max-width: 1392px;
  padding: 10px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.lang {
  display: flex;
}

#lang_active{
  background-color: #C92020;
  color: white;
background-image: url(../img/lang_border_active.png);
}

.lang li {
  font-family: 'Furore', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 48px;
  height: 48px;
  background-image: url(../img/lang_border.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 13px;
  background-color: transparent;

  clip-path: polygon(8px 0,
      calc(100% - 8px) 0,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 8px) 100%,
      8px 100%,
      0 calc(100% - 8px),
      0 8px);
}

.lang li:hover {
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.lang li:not(:hover) {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.25s;
}

.card {
  background: #111;
  padding: 24px;
  border: 2px solid #444;
  clip-path: polygon(12px 0,
      /* верхній лівий скіс */
      calc(100% - 12px) 0,
      /* верхній правий скіс */
      100% 12px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      12px 100%,
      0 calc(100% - 12px),
      0 12px);
}

.button_sendApp{
  padding: 14px 24px;
  border-radius: 16px;
  background-color: white;
  font-family: 'Furore';
  transition: 0.25s;
  border: 1px solid white;

}

.button_sendApp:hover{
  border: 1px dashed white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

/* hero */

.hero{
  position: relative;
  max-width: 1392px;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0.6),
      /* низ — чорний на 80% */
      rgba(0, 0, 0, 0.4)
      /* верх — чорний на 20% */
    ),url("../img/mainBG.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px;

  clip-path: polygon(25px 0,
      calc(100% - 25px) 0,
      100% 25px,
      100% calc(100% - 25px),
      calc(100% - 25px) 100%,
      25px 100%,
      0 calc(100% - 25px),
      0 25px);
}

.hero_menu{
  width: 148px;
  height: 148px;
position: relative;
  /* сам блок без blur, можна фон, бордери, контент і т.д. */
  z-index: 0;
  overflow: hidden;
  transition: 0.25s;
}


.hero_menu::before {
  content: "";
  position: absolute;
  inset: 0;

  /* твій полігон з кутами по 15px, наприклад */
  clip-path: polygon(15px 0,
      133px 0,
      148px 15px,
      148px 133px,
      133px 148px,
      15px 148px,
      0 133px,
      0 15px);

      backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        background: rgba(225, 225, 225, 0.05);
        /* легке затемнення, за бажанням */
        z-index: -1;
        /* щоб контент був над цим шаром */
}

.hero_menu:hover{

}

.button_menu {
  width: 48px;
  opacity: 0.6;
}

.stick_owerlay{
  width: 148px;
  display: flex;
  justify-content: center;
}
.stick{
  width: 1px;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.5);
}
.border_topleft{
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-90deg);
}
.border_topright {
  position: absolute;
  top: 0px;
  right: 0px;
}
.border_bottomleft {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transform: rotate(-180deg);
}
.border_bottomright {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: rotate(90deg);
}

.hero_menu{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}