/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #0D0D0D;
}

@font-face {
  font-family: 'Furore';
  src: url('../assets/fonts/Furore.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

header {
  max-width: 1392px;
  padding: 10px 0px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang {
  display: flex;
}

#lang_active{
  background-color: #C92020;
  color: white;
}

.lang li {
  font-family: 'Furore', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 48px;
  height: 48px;
  background-image: url(../img/lang_border.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 13px;
  background-color: transparent;

  clip-path: polygon(8px 0,
      calc(100% - 8px) 0,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 8px) 100%,
      8px 100%,
      0 calc(100% - 8px),
      0 8px);
}

.lang li:hover {
  color: white;
  cursor: pointer;
  transition: 0.25s;
}

.lang li:not(:hover) {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.25s;
}

.card {
  background: #111;
  padding: 24px;
  border: 2px solid #444;
  clip-path: polygon(12px 0,
      /* верхній лівий скіс */
      calc(100% - 12px) 0,
      /* верхній правий скіс */
      100% 12px,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      12px 100%,
      0 calc(100% - 12px),
      0 12px);
}

.button_sendApp{
  padding: 14px 24px;
  border-radius: 16px;
  background-color: white;
  font-family: 'Furore';
  transition: 0.25s;
  border: 1px solid white;

}

.button_sendApp:hover{
  border: 1px dashed white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}